<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
</head>

<body>
   <p class="test1 test2 test3 test4 ativo">Arquivo HTML usado somente para abrir o LiveServer no VScode, visto que os
      scripts
      estão sendo
      visualizados no
      console do navegador e não no terminal interno do computador rodando node.
   </p>
   <script src="../conceitos-basicos/script.js"></script>
</body>


</html>